%header.business-header
  .container
    .row
      .col-lg-12
        %h1.tagline Hootin | (Helping Others Out There In Need)
.container
  %hr/
  .row
    .col-sm-4
    .col-sm-4
      %h2.center Get Help
      =# link_to  "tel:#{'9545922500'}" do
      = link_to api_v1_twilio_inbound_call_path(1) do
        %img.img-circle.img-responsive.img-center{:alt => "", :src => "/assets/get_help_300_300.png"}/
      %p 
    .col-sm-4
  %hr/
